<!DOCTYPE html>
  <html lang="en">
    <!-- views/partials/_header.ejs-->
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <title>TinyApp</title>
    </head>
    <h1>TinyApp</h1>
    <!-- <% if(user === undefined) {%>
    <form action="/login" method="POST" >
      <span>        
        <input class="form-control" type="text" name="username" style="width: 300px; margin: 1em">
      </span>
      <span>
        <button type="submit" class="btn btn-primary" >Login</button>
      </span>
    </form>
      <% } else { %>
        <form action="/logout" method="POST" >
          <span>
            <label>Logged In As: <%=user.email%></label>
          </span>
          <div>
            <button type="submit" class="btn btn-primary" >Logout</button>
          </div>
        </form>
      <% } %> -->
    <span style="width: 150px; margin: 1em">
        <a href="../urls/new">Create a new URL</a>
    </span>
    <span style="width: 150px; margin: 1em">
        <a href="../urls/">Back to List of URLs</a>
    </span>
    <span style="width: 150px; margin: 1em">
        <a href="../register">Register new User</a>
    </span>
    <span style="width: 150px; margin: 1em">
        <a href="/login">Login</a>
    </span>
    <br>
    <br>
  </html>