<!DOCTYPE html>
  <html lang="en">
    <!-- views/partials/_header.ejs-->
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <title>TinyApp</title>
    </head>
    <h1 class="h1 mb-3 font-weight-bold">TinyApp</h1>
    <h6 class="h6 mb-3 font-weight-bold">Tiny your URLs.</h6>
    <% if(user === undefined) {%>
      <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="../register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../login">Login</a>
          </li>
      </ul>
      <% } else { %>
        <form action="/logout" method="POST" >
          <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="../urls/">URLs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">|</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../urls/new">Create New TinyURL</a>
              </li>
          </ul>
          <span>
            <label>Logged In As: <%=user.email%></label>
          </span>
          <div>
            <button type="submit" class="btn btn-primary" >Logout</button>
          </div>
        </form>
      <% } %>
    <br>
    <br>
  </html>